<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457388116738-o0ueri62mi75ju1s8qls54g5asdnmu44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457388116738-o0ueri62mi75ju1s8qls54g5asdnmu44</string>
	<key>API_KEY</key>
	<string>AIzaSyD9KrAN21AR1b5IJnvMo9l7tjVEw6panEA</string>
	<key>GCM_SENDER_ID</key>
	<string>457388116738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gordonAutoGarage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kriss-auto-garage</string>
	<key>STORAGE_BUCKET</key>
	<string>kriss-auto-garage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457388116738:ios:5fb1fb5b75e7ddab1b101b</string>
</dict>
</plist>